html{
    background-color: #2C3333;
}
table {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-collapse: collapse;
}
td{
    border: none;
    resize: none;
}
input[type="submit"]{
    background-color: #CBE4DE;
    color: #2C3333;
    font-weight: 600;
    padding:10px 20px;
}

td textarea{
    background-color: #CBE4DE;
    max-width :1000px;
    max-height:50px;
    border: 0px 50px;

}
a
{
	color: #2C3333;
	background-color: #CBE4DE;
	margin: 150px;  
	padding: 20px;
}